# Python Variables

In [1]:
x = 6         # interger
y = 9.5       # float
z = "Nick"    # string

print(x)
print(y)
print(z)

6
9.5
Nick

In [5]:
## Type Casting
#Conversion of Variable Types

x = float(5)
y = str(80)
z = str(5)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

5.0
80
5
<class 'float'>
<class 'str'>
<class 'str'>

In [10]:
## Assigning Multiple Values to Variables

# Assigning multiple values to multiple variables respectively

a, b, c = "amit","ramesh","naresh"

print(a,b,c)
print(a)
print(b)
print(c)

amit ramesh naresh
amit
ramesh
naresh

In [13]:
## One value to Multiple Variables

a= b= c = "Luffy"
print(a,b,c)

Luffy Luffy Luffy

In [15]:
# We can assign values with the help of list

MC = ["Luffy", "Ichigo", "Goku"]
a,b,c = MC
print(a,b,c)
print(a)
print(b)
print(c)

Luffy Ichigo Goku
Luffy
Ichigo
Goku

In [23]:
# Showing Python Outputs
a ="Luffy "
b = "Ichigo "
c ="Goku "
print(a,b,c)
print(a+b+c)
print(a)
print(b)
print(c)
# All oF these gives us same output
#see the spaces at end of luffy ichcigo  if we don't use then we will get output we will get output as luffyichigogoku

Luffy  Ichigo  Goku
Luffy Ichigo Goku
Luffy
Ichigo
Goku